@import "tailwindcss";

@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
}

@layer utilities {
  .desktop-only {
    display: none;
  }
  @media (min-width: 1024px) {
    .desktop-only {
      display: block;
    }
  }
}
